#imagecard {
  width: 186px;
  height: 173px;
}
/*NavBar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(203, 22, 86);
}

li {
  float: right;
}
.float-style {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: pink;
  color: black;
}

.active {
  background-color: white;
}
/*========================================*/
.btn-primary {
  background-color: rgb(203, 22, 86) !important;
  border: rgb(203, 22, 86) !important;
}
/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: rgb(203, 22, 86);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signIn {
  background-color: #f1f1f1;
  text-align: center;
}
/*================================================================*/
.table-success {
  background-color: rgb(203, 22, 86);
}
.button-float-style {
  width: 90%;
  height: 50px;
  margin-top: 25px;
}

.login-style{
  border: rgb(203, 22, 86) solid 2px;
  border-radius: 25px;
  box-shadow: 15px 25px 25px 15px rgb(240, 91, 210);
}

.form-margin-style{
  margin: 55px 125px;
}